@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');


* {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  background-color: #32333b;
  color: #f5f5f5;
}

h1,h2 {
  font-size: 20px;
}

p {
  margin-right: 5px;
}

/* input[type="submit"], */
button,
input[type="reset"],
input[type="button"] {
  display: inline-block;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-decoration: none;
  color: #333;
  background-color: #fff;
  box-shadow: 0 0 5px #ccc;
}

input[type="submit"]{
  display: none;
}

/* input[type="submit"]:hover, */
button:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
  background-color: #eee;
  cursor: pointer; 
}

.break{
  display: block;
  display: inline-block;
}

button.medium{
  font-size: 15px;
  padding: 5px 10px;
}

button.small{
  font-size: 14px;
  padding: 5px 10px;
}

b {
  font-weight: bold;
}

.managerStatus {
    /* width: 96%; */
    height: 20px;
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
    /* margin: 11px; */
    display: flex;
    align-items: center;
    color: #333;
  }

.goodManager {
    background-color: #27ff27;
  }

.warningManager {
    background-color: yellow;
}

.my_comps {
  list-style-type: none;
  padding: 0;
}

.my_comps a {
  padding: 10px;
  margin: 5px;
  display: block;
  border-radius: 5px;
  background-color: #dedede;
  text-decoration: none;
  color: black; 
  flex: 1;
}

.my_comps a.checkbox::after {
  content: "\2611"; /* Unicode character for empty checkbox */
  /* display: inline-block; */
  float: right;
  margin-left: 10px;
  color: green;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

form p {
  /* display: block; */
  /* border: 1px solid black; */
  margin: 10px 0;
}

/* form input[type="submit"], */
form input[type="text"], form input[type="checkbox"] {
  /* margin-left: 10px; */
  margin-top: 5px;
  display: flex;
}

.formInfo {
  margin-top: -10px;
  color: grey;
}