<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Solve time checker</title>
    <link rel="shortcut icon" href="{{url_for('static',filename='logo.png')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  type="text/css" href="{{url_for('.static', filename='style.css')}}">
    {% block extrahead %} {% endblock %}
</head>
<body>
    {% block content %} {% endblock %}

    <hr>

    {% if user_name %}
    <p>Logged in as {{user_name}} </p>
    <a href="/me">
        <button>Go to my upcoming comps</button>
    </a> 

    <a href="/logout">
        <button>Logout</button>
    </a> 
    {% else %}
    <p>Not logged in</p>
    {% endif %}
    
    
</body>
</html>