{% extends 'base.html' %}

{% block content %}

<p>You are about to query results from <b>{{comp}}</b></p>

<form action="/show" method="POST">
    <br>
    <p>Events to calculate <input type = "text" name = "eventsCalculate" /> </p>
    <p class="formInfo">Leave this blank to check all events. Remember to use event IDs, comma separated</p>
    <p>Competitor ordering <input type = "text" value=0 name = "competitorOrdering" /> </p>
    <p class="formInfo">Use 0 for by time, use 1 for by name.</p>
    <button>Show competitors <input type="submit" name = "submit" /> </button>
</form>
{% endblock %}