{% extends 'base.html' %}

{% block content %}
   <h1>DVE Solve time checker</h1>
    <p>Hello! You can use this website to calculate the cumulative amount of time all competitors have used to solve at a specific competition.</p>

   <p>Authentication is needed if you are a competition organiser and want 'live' times of the competitors, or if you want to more easily find your competition. 
    If you are not an organiser of the competition, it might take up to 5 minutes from the last 'sync' on WCA live to update.</p>

    <a href="https://www.worldcubeassociation.org/oauth/authorize?client_id=jvK8thQ_pdL4Tf2lmXcjuQrr11X1mjw0p0UtF8M4q4o&redirect_uri=https%3A%2F%2Ftimelimits.danskspeedcubingforening.dk%2Fshow_token&response_type=token&scope=manage_competitions+public">
        <button>Authenticate me! (WCA)</button>
    </a> 

    <p>If you do not want to go directly to a competition without logging in (or you cannot find the competition you are looking for), go to https://timelimits.danskspeedcubingforening.dk/<b>YourCompID</b> </p>

{% endblock %}