{% extends 'base.html' %}

{% block content %}
   <h1>DVE Solve time checker</h1>
    <p>This site is still work in progress. There are two ways to authenticate, where at least one should work. The fastest way is to simply click the "Authenticate me!" me button below.</p>
    <a href="https://www.worldcubeassociation.org/oauth/authorize?client_id=jvK8thQ_pdL4Tf2lmXcjuQrr11X1mjw0p0UtF8M4q4o&redirect_uri=https%3A%2F%2Ftimelimits.danskspeedcubingforening.dk%2Fshow_token&response_type=token&scope=manage_competitions+public">
        <button>Authenticate me! (DSF)</button>
    </a> 
    
    <p></p>

    <a href="https://www.worldcubeassociation.org/oauth/authorize?client_id=jvK8thQ_pdL4Tf2lmXcjuQrr11X1mjw0p0UtF8M4q4o&redirect_uri=http%3A%2F%2Flocalhost%3A5000%2Fshow_token&response_type=token&scope=manage_competitions+public">
        <button>Authenticate me! (Local Host)</button>
    </a> 

    <p>If the button above doesn't work, you will have to press <a href="https://www.worldcubeassociation.org/oauth/authorize?client_id=jvK8thQ_pdL4Tf2lmXcjuQrr11X1mjw0p0UtF8M4q4o&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&response_type=token&scope=manage_competitions+public" target="_blank">this link</a>
    which will show you a token located within the URL and paste into the field below.</p>

   <p>Authenticating is needed to unlock extra features (check-in list for newcomers, updating groups for other apps), and generally for a better experience.</p>

    <form action="/me" method="POST"
        <p>Access token <input type = "text" name = "token" /> </p>
        <p><input type = "submit" value = "Submit access token" /></p>
    </form>

    <form action="/playground" method="GET"
        <p><input type = "submit" value = "Go to playground without access token" /></p>
    </form>
{% endblock %}